In [1]:
import pandas as pd



data = {
    'Order_ID': [1001, 1002, 1003, 1004, 1005, 1006],
    'Customer_ID': ['C001', 'C002', 'C001', 'C003', 'C004', 'C002'],
    'Product_Name': ['Laptop', 'Mouse', 'Keyboard', 'Laptop', 'Monitor', 'Mouse'],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Electronics', 'Accessories'],
    'Order_Amount': [90000, 1500, 3000, 85000, 20000, 1500],
    'Quantity': [1, 2, 1, 1, 2, 3],
    'Purchase_Date': pd.to_datetime(['2025-08-01', '2025-08-02', '2025-08-03', '2025-08-04', '2025-08-05', '2025-08-06']),
    'City': ['Mumbai', 'Delhi', 'Mumbai', 'Bangalore', 'Delhi', 'Delhi']
}

df = pd.DataFrame(data)


def classify_order(amount):
    if amount < 5000:
        return 'Low'
    elif 5000 <= amount <= 20000:
        return 'Medium'
    else:
        return 'High'

df['Order_Value'] = df['Order_Amount'].apply(lambda x: classify_order(x))


category_summary = df.groupby('Category').agg(
    Total_Revenue=('Order_Amount', 'sum'),
    Average_Order=('Order_Amount', 'mean'),
    Total_Quantity=('Quantity', 'sum')
).reset_index()

city_summary = df.groupby('City').agg(
    Total_Spent=('Order_Amount', 'sum'),
    Orders=('Order_ID', 'count'),
    Avg_Spending=('Order_Amount', 'mean')
).reset_index()


pivot = pd.pivot_table(df, values='Order_Amount', index='Category', columns='City', aggfunc='sum', fill_value=0)

top_products = df.groupby('Product_Name').agg(
    Total_Quantity_Sold=('Quantity', 'sum')
).reset_index().sort_values(by='Total_Quantity_Sold', ascending=False)


print("\n--- Classified Orders ---\n", df[['Order_ID', 'Order_Amount', 'Order_Value']])
print("\n--- Category Summary ---\n", category_summary)
print("\n--- City Summary ---\n", city_summary)
print("\n--- Pivot Table (Revenue by Category and City) ---\n", pivot)
print("\n--- Top Selling Products ---\n", top_products)

--- Classified Orders ---
    Order_ID  Order_Amount Order_Value
0      1001         90000        High
1      1002          1500         Low
2      1003          3000         Low
3      1004         85000        High
4      1005         20000      Medium
5      1006          1500         Low

--- Category Summary ---
       Category  Total_Revenue  Average_Order  Total_Quantity
0  Accessories           6000         2000.0               6
1  Electronics         195000        65000.0               4

--- City Summary ---
         City  Total_Spent  Orders  Avg_Spending
0  Bangalore        85000       1  85000.000000
1      Delhi        23000       3   7666.666667
2     Mumbai        93000       2  46500.000000

--- Pivot Table (Revenue by Category and City) ---
 City         Bangalore  Delhi  Mumbai
Category
Accessories          0   3000    3000
Electronics      85000  20000   90000

--- Top Selling Products ---
   Product_Name  Total_Quantity_Sold
3        Mouse                    5
1       Laptop                    2
2      Monitor                    2
0     Keyboard                    1